# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv
scripts/venv/

# Jupyter Notebook checkpoints & vscode
.vscode/
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp

# Automated file to create directories
/create_files.py
